{{> header}}

<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Top Searches
                    </div>
                    <div class="card-body">
                        <canvas class="chart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Most Searched Tutors
                    </div>
                    <div class="card-body">
                        <table class="table data-table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Search Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each topTutor}}
                                <tr>
                                    <td>{{firstName}}</td>
                                    <td>{{lastName}}</td>
                                    <td>{{searchCount}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Most Searched Subjects
                    </div>
                    <div class="card-body">
                        <table class="table data-table">
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Description</th>
                                    <th>Search Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each topSubject}}
                                <tr>
                                    <td>{{subjectCode}}</td>
                                    <td>{{description}}</td>
                                    <td>{{searchCount}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>

<script>
    var raw = '{{topSearches}}';
    var topsearches = JSON.parse(raw.replace(/&quot;/g, '"'));

    const charts = document.querySelectorAll(".chart");

    for (var i = 0; i < charts.length; i++) {
        var ctx = charts[i].getContext("2d");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: topsearches.map((tps) => tps.term),
                datasets: [
                    {
                        label: "# of searches",
                        data:  topsearches.map((tps) => tps.count), // replace with dynamic data
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                            "rgba(75, 192, 192, 1)",
                            "rgba(153, 102, 255, 1)",
                            "rgba(255, 159, 64, 1)",
                        ],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
    }


    $(document).ready(function () {
        $(".data-table").each(function (_, table) {
            $(table).DataTable();
        });
    });

</script>


{{> footer}}









                        
